.app-container {
  margin: 0 auto;
  background-color: #1c1f29;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: white;
  border: 0;
  clip: rect(0000);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
